.about-us-container {
    /* background: url('../../images/img-home.jpg') center center/cover no-repeat; */
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.about-us-items {
    margin-bottom: 24px;
}

@media only screen and (min-width: 1024px) {
    .about-us-items {
      display: flex;
    }
}

.about-us-container > p {
    margin-top: 8px;
    margin-left: 8px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
}


@media screen and (max-width: 820px) {
    .about-us-container > p {
        font-size: 30px;
        margin-top: -100px;
    }
}

@media screen and (max-width: 768px) {
    .about-us-container > p {
        font-size: 20px;
        margin-top: -100px;
    }

}
